.category-link {
  min-height: 76px;
  padding-top: 27px;
  background-color: @bg-color;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  .outline(big-block; darkred);
}

.category-link--interior {
  background-color: @bg-color-interior;
}

.category-link--toys {
  background-color: @bg-color-toys;
}

.category-link__link {
  text-decoration: none;
}

.category-link__text {
  color: #fff;
  width: 170px;
  min-height: 48px;
  .outline(item; yellow);
}

@media @tablet-widths {
  .category-link {
    padding-top: 30px;
    padding-left: 36px;
    width: 298px;
    min-height: 95px;
  }

  .category-link__text {
    min-height: 60px;
  }

  .category-link--interior {
    float: left;
  }

  .category-link--toys {
    float: right;
  }
}

@media @desktop-widths {
  .category-link {
    width: 489px;
  }
}
