.description {
  width: 320px;
  min-height: 283px;
  margin: 0 auto;
  padding-top: 74px;
  .outline(big-block; darkred);
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  font-weight: bold;
}

@media @tablet-widths {

  .description {
    width: 768px;
  }
}

@media @desktop-widths {

  .description {
    width: 1150px;
  }
}
