.modal {
  background-color: @bg-color;
  .outline(big-block; darkred);
  padding-top: 35px;
  padding-bottom: 46px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.modal__title {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

.modal__text {
  font-size: 15px;
  font-weight: normal;
  color: #444;
}
