.product-of-the-week {
  background-color: @bg-color;
  padding-top: 32px;
  padding-bottom: 38px;
  .outline(big-block; darkred);
  font-family: "Open Sans", "Arial", sans-serif;
}

.product-of-the-week__name {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}

.product-of-the-week__description {
  font-size: 15px;
  color: #444;
}

.product-of-the-week__properties-table {
  font-size: 15px;
  color: #444;
}

.product-of-the-week__price {
  font-size: 17px;
  font-weight: bold;
  color: #444;
}
