.production {
  display: flex;
  min-height: 468px;
  background-color: @bg-color;
  margin-top: 30px;
  margin-bottom: 60px;
  padding-bottom: 33px;
  font-family: "Open Sans", "Arial", sans-serif;
  .outline(big-block; red);
}

.production__title {
  font-size: 17px;
  font-weight: bold;
  color: #000;
}

.production__text {
  font-size: 13px;
  font-weight: normal;
  color: #444;
}

@media @tablet-widths {
  .production {
    margin-top: 53px;
    margin-bottom: 63px;
    min-height: 697px;
    padding-bottom: 46px;
  }
}

@media @desktop-widths {
  .production {
    margin-top: 57px;
    margin-bottom: 106px;
    min-height: 453px;
    padding-bottom: 0;
  }
}
