.product-categories {
  background-color: @bg-color;
  .outline(big-block; darkred);
}

.category-link {
  width: 290px;
  padding-left: 30px;
}

@media @tablet-widths {

  .product-categories {
    width: 668px;

    margin: 0 auto;
    .clearfix();
  }
}

@media @desktop-widths {
  .product-categories {
    width: 1050px;
  }
}
