.reviews {
  background-color: @bg-color;
  font-family: "Open Sans", "Arial", sans-serif;
}

.reviews__title {
  font-size: 25px;
  font-weight: bold;
}

.review-item__text {
  font-size: 15px;
  color: #444;
}

.review-item__personal {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.review-item__email {
  font-size: 18px;
  font-weight: normal;
  color: #444;
}
